<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>First Name</label>
                <input type="text"
                       class="form-control"
                       formControlName="firstName"
                       onfocus="value = ''">
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text"
                     class="form-control"
                     formControlName="lastName"
                     onfocus="value = ''">
            </div>


          <div class="form-group">
            <label>Height</label>
              <input type="text"
                     class="form-control"
                     formControlName="height"
                     onfocus="value = ''">
          </div>

          <div class="form-group">
            <label>Weight</label>
            <input type="text"
                   class="form-control"
                   formControlName="weight"
                   onfocus="value = ''">


            <label>Benchpress</label>
            <input type="text"
                   class="form-control"
                   formControlName="benchpress"
                   onfocus="value = ''">

          </div>

          <div class="form-group">
            <label>Deadlift</label>
            <input type="text"
                   class="form-control"
                   formControlName="deadlift"
                   onfocus="value = ''">
          </div>

          <div class="form-group">
          <label>Squat</label>
          <input type="text"
                 class="form-control"
                 formControlName="squat"
                 onfocus="value = ''">
        </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!userForm.valid">Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectUserPage()">Cancel</button>
          <pre>{{userForm.value | json}}</pre>
        </form>
      </section>
    </div>
  </div>
</div>
